attr==0.3.1
ConfigParser==7.0.0
contextlib2==21.6.0
cryptography==42.0.8
Cython==3.0.10
dl==0.1.0
docutils==0.21.2
filelock==3.15.4
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==8.1.3
Jinja2==3.1.4
jnius==1.1.0
keyring==25.3.0
matplotlib==3.7.1
mock==5.1.0
numpy==2.0.1
opencv_python==4.7.0.72
pandas==2.0.2
Pillow==10.4.0
protobuf==5.27.3
pyocr==0.8.5
pyOpenSSL==24.2.1
python_Levenshtein==0.25.1
pywin32==306
railroad==0.5.0
redis==3.5.3
Sphinx==8.0.2
thread==2.0.5
tornado==6.4.1
trove_classifiers==2024.7.2
urllib3_secure_extra==0.1.0
xmlrpclib==1.0.1
